
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>first1</h2>
    12;<select>
    <option>5</option>
    <option>5</option>

</select>
<form method="post" action="~/data/save">
    <table class="table table-bordered table-hover">
        <tr>
            <td>學號:</td>
            <td><input name="stud" type="text" /></td>
        </tr>

        <tr>
            <td>姓名:</td>
            <td><input name="name" type="text" /></td>
        </tr>

        <tr>
            <td>班級:</td>
            <td><input name="class1" type="text" /></td>
        </tr>

        <tr>
            <td><input id="sumbitl" type="submit" value="提交" class="btn btn-sm" /></td>
        </tr>
    </table>
</form>
